body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
  }
  
  .container {
    padding: 2rem;
    background-color: #f7f7f7;
  }
  
  .about {
    max-width: 1200px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
  }
  
  .title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .main-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .facilities {
    margin-bottom: 2rem;
  }
  
  .facilities-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .facilities-list {
    list-style-type: disc;
    text-align: left;
    display: inline-block;
    padding-left: 20px;
    margin: 0 auto;
  }
  
  image{
    width: 100%;
    height: fit-content;
  }

  
  .customization {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  
  .gallery-image {
    max-width: 100%;
    width: 30%;
    height: auto;
    border-radius: 10px;
  }
  
  .btn{
    width: 8rem;
    height: 3rem;
    background-color: orangered;
    border-radius: 25rem;
    font-size: large;
    color: white;
    font-weight: lighter;
  }



  @media (max-width: 768px) {

    .Nav-bg-video{
        width: 84rem;
    }

    .hpd{
        margin-top: 18rem;
    }
    .title {
      font-size: 2rem;
    }
  
    .subtitle {
      font-size: 1.2rem;
    }
  
    .facilities-title {
      font-size: 1.2rem;
    }
  
    .customization {
      font-size: 1rem;
    }
  
    .gallery-image {
      width: 45%;
    }
  }
  
  @media (max-width: 480px) {
    .title {
      font-size: 1.5rem;
    }
  
    .subtitle {
      font-size: 1rem;
    }
  
    .facilities-title {
      font-size: 1rem;
    }
  
    .customization {
      font-size: 0.9rem;
    }
  
    .gallery-image {
      width: 100%;
    }
  }
  