/* ContactPage.css */

.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .contact-container {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .contact-info {
    margin-bottom: 20px;
  }
  
  .contact-info p {
    font-size: 18px;
    line-height: 1.6;
  }
  
  .contact-info a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  
  .contact-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  input[type='text'],
  input[type='email'],
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 6px;
  }
  
  textarea {
    height: 120px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .submission-message {
    background-color: #d4edda;
    color: #155724;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 20px;
  }
  
  
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .contact-page{
        margin-top: 4rem;

    }
    .Hide .Nav-bg-video {
        display: none;
      }
    .contact-container {
      padding: 20px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      height: 130vh;
    }
  
    .contact-info p {
      font-size: 16px;
    }
  
    input[type='text'],
    input[type='email'],
    textarea {
      font-size: 14px;
      padding: 10px;
    }
  
    button {
      font-size: 14px;
      padding: 10px 16px;
    }

    .form-group{
        margin-bottom: 5rem;
    }
  }
  
  @media (max-width: 480px) {
    .contact-container {
      padding: 15px;
    }
  
    .contact-info p {
      font-size: 14px;
    }
  
    input[type='text'],
    input[type='email'],
    textarea {
      font-size: 12px;
      padding: 8px;
    }
  
    button {
      font-size: 12px;
      padding: 8px 12px;
    }
  }
  