.Schedulecard{
    
    margin-top: 12rem;
}

.Schedulecard h1{
    text-align: center;
    color: orangered;
    margin-top: 2rem;
}

.Schedulecard ul li{
    color: gold;
    list-style: symbols("U+1F4CD");
}